

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,body{
    height: 100%;
    place-items: center;
    background: #222328;
}
nav{
    width: 100%;
}

#menu {
    display: flex;
    padding: 0 100;
	background: #3A3B3C;
	color: #FFF;
	height: 50px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
    display: flex;
	width: 100%;
}
#menu li {
    display: flex;
	float: left;
	position: relative;
}
#menu a {
	display: flex;
	line-height: 50px;
    padding: 0 150px; 
	text-decoration: none;
	color: #FFFFFF;
	font-size:20px;
}



#menu li a:hover {
    display: flex;
	color: #27CC06;
	background: #F2F2F2;
    padding: 0 150px;
    
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {

    display: flex;
	line-height: 50px;
    padding: 0 150px; 
	text-decoration: none;
	color: white;
	font-size:20px;
    justify-content: center;
}


#menu li label:hover {
    display: flex;
	color: #27CC06;
	background: #F2F2F2;
    padding: 0 150px;
    cursor: pointer;
    justify-content: center;

}


h1 {
    font-size: 6rem;
    text-align: center;
    animation-duration: 4s;
    animation-name: header;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 1em auto;
}



@keyframes header {
    0%   {color: white;}
    25%   {color: #cdfab5;}
    50%  {color: lightgreen ;}
    75%  {color: #43a80b;}
    100%  {color: #378909;}
   
  }



  #Hex-input {
    background: #3A3B3C;
    display: flex;
    border: 1px solid #ccc;
    color: #FFF;
    font-size: 2rem;
    margin: 4em auto;
    letter-spacing: 0.5ch;
    width: 29ch;
    text-transform: uppercase;
  }
 .Bit-container{

    display: flex;
    flex-direction: row;
    align-content: center;
    
 }
 .all-container{
    display: none;
    margin: 6em auto;
 }

  #sign, #combination, #exponent{
    background: #3A3B3C;
    display: flex;
    border: 1px solid #ccc;
    color: #FFF;
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 0.5ch;
    display:flex;
  }

.coefficient{
    display: flex;
   width: 100%;
   justify-content: space-around;
   flex-direction: row;
   text-align: center;
}


.coefficient_2nd{
  display: flex;
   width: 100%;
   justify-content: space-around;
   flex-direction: row;
   text-align: center;
}
 #coefficient1,  #coefficient2,  #coefficient3,  #coefficient4,  #coefficient5{

    display:flex;
    background: #3A3B3C;
    font-size: 1rem;
    border: 1px solid #ccc;
    color: #FFF;
    margin-top: 1em;
    letter-spacing: 0.5ch;
    width: 33%;

  } 
  #coefficient4,  #coefficient5{
    display:flex;
    width: 100%;
  }



  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }




  .button-container .button:hover {
    background-color: #3e8e41;
  }

  .input-container{
   display: flex;
   width: 100%;
   justify-content: space-around;
   flex-direction: row;
   text-align: center;

   
  }

  .Hex{
    display: flex;
    text-align: center;

  }
  .Binary{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }


  .radio-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

  }
 .white-label {
    
    display: block;
    color: white;
    margin: 0.5em auto;
  }
 #decimals{

    display: block;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #num_dec{
     display: block;
    color: white;
    margin: 0.5em auto;
  }

  .short-button{
    display: block;
  }

  .long-button{
    display: block;
  }

  #clear{
    display: flex;
    margin: 0.5em auto;
    width: 100%;
    justify-content: space-around;
  }

  #convertbin{
    display: none;
    margin: 0.5em auto;
    width: 100%;
    justify-content: space-around;
  }

  #converthex{
    display: flex;
    margin: 0.5em auto;
    width: 100%;
    justify-content: space-around;
  }

  #copy, #switch{
    display: flex;
    width: 100%;
    margin: 0.5em auto;
    justify-content: space-around;
  }

  #Answer{
    margin: 0.5em auto;
  }

 